{% extends "base.html" %}
{% block title %}Novo Ativo{% endblock %}

{% block content %}
<h2>Novo Ativo</h2>

<form method="POST" class="form-card">

  <label>Cliente</label>
  <select name="cliente_id" required>
    {% for c in clientes %}
      <option value="{{ c.id }}">{{ c.nome }}</option>
    {% endfor %}
  </select>

  <label>Nome</label>
  <input type="text" name="nome" required placeholder="Ex: Lancha X">

  <label>Categoria</label>
  <select name="categoria">
    <option>Náutica</option>
    <option>Industrial</option>
    <option>Outro</option>
  </select>

  <label>IMEI</label>
  <input type="text" name="imei" placeholder="IMEI do rastreador">

  <label>Observações</label>
  <textarea name="observacoes"></textarea>

  <button type="submit" class="btn-primary">Salvar</button>

</form>
{% endblock %}
